ui-test/mock/demos/salesforce.com/demos/supplier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://qoretechnologies.com/supplier" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://qoretechnologies.com/supplier" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://qoretechnologies.com/supplier">
      <s:element name="Suppliers">
	<s:complexType>
          <s:all>
            <s:element name="Supplier" maxOccurs="unbounded" minOccurs="1">
	      <s:complexType>
	        <s:all>
	          <s:element name="account_name" type="s:string"/>
	          <s:element name="description" type="s:string"/>
	          <s:element name="external_id" type="s:string"/>
	          <s:element name="account_number" type="s:string"/>
	          <s:element name="address" type="tns:address"/>
	        </s:all>
	      </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="Result">
	<s:complexType>
	  <s:all>
	    <s:element name="status" type="s:string"/>
	  </s:all>
	</s:complexType>
      </s:element>
      <s:complexType name="address">
	<s:all>
	  <s:element name="street" type="s:string"/>
	  <s:element name="city" type="s:string"/>
	  <s:element name="postal_code" type="s:string"/>
	  <s:element name="state" minOccurs="0" type="s:string"/>
	  <s:element name="country" type="s:string"/>
	</s:all>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="m1">
    <wsdl:part name="body" element="tns:Suppliers"/>
  </wsdl:message>

  <wsdl:message name="m2">
    <wsdl:part name="body" element="tns:Result"/>
  </wsdl:message>

  <wsdl:portType name="pt1">
    <wsdl:operation name="createSupplier">
      <wsdl:input message="tns:m1"/>
      <wsdl:output message="tns:m2"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="b1" type="tns:pt1">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <wsdl:operation name="createSupplier">
      <soap12:operation soapAction="http://example.com/createSupplier"/>
      <wsdl:input>
	<soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
	<soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SupplierService">
    <wsdl:port name="SupplierPort" binding="tns:b1">
      <soap12:address location="http://localhost:8001/SOAP/Supplier"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
